PORT=4000
NODE_ENV=development

# Postgres
DATABASE_URL=postgresql://scheduler:scheduler@localhost:5432/reachinbox_scheduler

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Rate limiting & concurrency
MIN_DELAY_BETWEEN_EMAILS_MS=2000
MAX_EMAILS_PER_HOUR=100
WORKER_CONCURRENCY=5
